<div class="card">
  <div class="content_user">
    <div class="img_user">
      <img src="assets/images/yo.png" alt="">
    </div>

    <h1>Hi, i´m Isaac.</h1>
    <h1>I´m Front End Developer.</h1>
  </div>
  <div class="list">
      <div class="facebook">
        <div class="contentlink">
          <fa-icon [styles]="{'height': '20px', 'width': '20px'}" [icon]="faFacebook"></fa-icon><a href="">Luis Mug</a>
        </div>
      </div>
      <div class="instagram">
        <div class="contentlink">
          <fa-icon [styles]="{'height': '20px', 'width': '20px'}" [icon]="faInstagram"></fa-icon><a href="">luisisaacmg</a>
        </div>
      </div>
      <div class="email">
        <div class="contentlink">
          <fa-icon [styles]="{'height': '20px', 'width': '20px'}" [icon]="faEnvelope"></fa-icon><a href="">isaaclui388@gmail.com</a>
        </div>
      </div>
      <div class="github">
        <div class="contentlink">
          <fa-icon [styles]="{'height': '20px', 'width': '20px'}" [icon]="faGithub"></fa-icon><a href="">isaac38</a>
        </div>
      </div>
  </div>
</div>


