/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Iconsolata';
  src: url(./assets/fonts/Inconsolata.ttf);
}
body{
  padding: 0px;
  margin: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00d4ff), to(#4f8eff)) fixed;
  font-family: Iconsolata;
}
